<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs"); -%>
    <title>Gogo Cafe &mdash; Coffee Lover</title>
  </head>
  <body>
    <!--navigation tag for mobile -->
    <%- include("./partials/navbar.ejs"); -%>
    <!-- end of navigation tag -->
    <!-- header tag -->
    <%- include("./partials/header.ejs"); -%>
    <!-- end of header tag -->
    <!-- set of section -->
    <main>
      <!-- section banner -->
      <%- include("./partials/section-banner.ejs"); -%>
      <!-- end of section banner -->
      <!-- section service -->
      <%- include("./partials/section-services.ejs"); -%>
      <!-- end of section service -->
      <!-- section product coffee-->
      <%- include("./partials/section-product.ejs"); -%>
      <!-- end of section product -->
      <!-- section item -->
      <%- include("./partials/section-item.ejs"); -%>
      <!-- end of section item -->
      <!-- section showcase-->
      <%- include("./partials/section-showcase.ejs"); -%>
      <!-- end of section showcase -->
      <!-- section subscribe-->
      <%- include("./partials/section-subscribe.ejs"); -%>
      <!-- end of section subscribe-->
    </main>
    <!-- end of set section -->
    <!-- footer tag -->
    <%- include("./partials/footer.ejs"); -%>
    <!-- end of footer tag -->

    <script src="./public/js/app.js"></script>
  </body>
</html>
